##
# Maven/Java
##

*.class
*.jar
target/
jar/
package/

# JVM crash logs
hs_err_pid*

##
# IntelliJ IDEA
##

*.idea
*.iml

##
# Dia
##

*.autosave

##
# Platform-specific
##

# Linux
*~
*.swp
*.tmp
*.bak
*.old
*.un~
.directory

# Mac
._*
.DS_Store
.AppleDouble
.LSOverride
__MACOSX

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
