/**
 * Metro/Material GUI styling for JavaFX.
 * Initially written for CS208, fall 2015
 *
 * @author Paul Buonopane
 */

.root {
    -fx-font-size: 16px;
    -fx-text-base: white;
    -fx-text-fill: white;
    -fx-font-family: "Gill Sans", "Segoe UI", "Noto Sans", "Open Sans", "Arial", sans-serif;
    /*noinspection CssUnitlessNumber*/
    -fx-font-weight: 200;

    -fx-base: #555555;
    -fx-color: -fx-base;
    -fx-accent: #777777;
    -fx-input-bg-color: #dddddd;
    -fx-input-fg-color: black;
    -fx-super-accent: #2f5cc6;
    -fx-focus-color: -fx-super-accent;
    -fx-background-light: #444444;
    -fx-background: #333333;
    -fx-control-inner-background: -fx-color;
    -fx-hover-base: -fx-accent;
    -fx-pressed-base: #bbbbbb;
    -fx-text-background-fill: none;
    -fx-box-border: none;
    -fx-text-box-border: none;
    -fx-shadow-highlight-color: none;
    -fx-outer-border: none;
    -fx-inner-border: none;
    -fx-inner-border-horizontal: none;
    -fx-inner-border-bottomup: none;
    -fx-body-color: -fx-color;
    -fx-disabled-opacity: 100%;
}

.button {
    -fx-skin: none;
    -font-size: .6em;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: none;
    -fx-background-radius: 0;
    -fx-border-color: -fx-color;
    -fx-border-radius: 0;

    -fx-border-width: .3em;
    -fx-padding: .8em;
}
.button:hover {
    -fx-text-fill: -fx-text-base;
}

.text-field {
    -fx-skin: none;
    -fx-border-radius: 0;
    -fx-border-insets: none;
    -fx-border-style: solid;
    -fx-border-width: .3em;
    -fx-border-color: -fx-body-color;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: none;
    -fx-background-radius: 0;
    -fx-padding: .8em;
}
.text-field:hover {
    -fx-body-color: -fx-hover-base;
}
.text-field:focused {
    -fx-color: -fx-base;
    -fx-body-color: -fx-input-bg-color;
    -fx-text-fill: -fx-input-fg-color;
    -fx-border-color: -fx-accent;
    -fx-background-color: -fx-input-bg-color;
}
.text-field:readonly {
    -fx-color: transparent;
    -fx-body-color: -fx-color;
    -fx-text-fill: -fx-text-base;
    -fx-background-color: -fx-color;
    -fx-border-color: -fx-color;
}

.delete-button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: -fx-super-accent;
    -fx-border-color: -fx-super-accent;
    -fx-padding: .3em .4em;
    -fx-pref-width: 3em;
    -fx-pref-height: 3em;
}
.delete-button:hover {
    -fx-background-color: white;
    -fx-text-fill: -fx-super-accent;
}

.handle {
    -fx-padding: 0;
    -fx-cursor: move;
    -fx-alignment: center;
    -fx-pref-width: 3em;
    -fx-pref-height: 3em;
}
.handle-text {
    -fx-fill: -fx-text-base;
}